body {
    font-family: sans-serif;
    background-color: rgba(0, 255, 56, 0.03);
}

.title {
    padding: 5px 20px 10px;
    color: #333;
}

.options {
    padding: 10px 20px 30px;
    color: #333;
}

input {
    border-radius: 10px;
    padding: 3px;
    color: darkgreen;
}

input:focus {
    outline-width: 0;
}

.been-clicked {
    cursor: default;
}

#result {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#result-data {
    list-style-type: none;
    height: 300px;
    width: 200px;
    overflow: hidden;
    overflow-y: auto;
}

#minesweeper-board {
    text-align: center;
}

table {
    /*background-color: #e3e3e3;*/
    display: inline-block;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid darkgreen;
}

@media screen and (min-width: 0px) and (max-width: 700px) {

    table {
        width: 70vw;
        height: 70vw;
        display: table;
        table-layout: fixed;
    }

    #minesweeper-board {
        width: 73%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}